form {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 100%;
    border: 1px solid #000;
    justify-content: center;
    gap: 1vw;
    align-items: center;
    position: relative;
}

form label {
    color: #010101;
}

form .infos {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 40%;
}

form .infos .nomeSobrenome {
    display: flex;
    width: 100%;
    gap: 1vw;
}

form .infos .nomeSobrenome .nome {
    width: 60%;
}

form .infos .nomeSobrenome .sobrenome {
    width: 100%;
}

form .infos .cpfNasc {
    display: flex;
    width: 100%;
    gap: 1vw;
}

form .infos .cpfNasc .cpf {
    width: 100%;
}

form .infos .cpfNasc .dtNasc {
    width: 60%;
}

form .infos .senha {
    position: relative;
}

form .infos .senha .olho {
    position: absolute;
    right: 1rem;
    top: 65%;
    transform: translateY(-50%);
    cursor: pointer;
}

form .infos input {
    width: 100%;
    padding: 0.6vw;
    border-radius: 0.3vw;
    border: 1px solid #000;
    font-size: 1.1rem;
}

form .enviarInfos .btnEnviar button {
    padding: 1rem;
    width: 220px;
    border-radius: 7px;
    border: none;
    background-color: rgb(211, 181, 10);
    color: #010101;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 3vw;
}

form .voltar {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    width: 40%;
}

form .btnVoltar {
    padding: 1rem;
    width: 7vw;
    background: none;
    border: 0;
    font-size: 1.1rem;
    background-color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0.5vw;
    cursor: pointer;
}

.card {
    background-color: rgb(114, 177, 114);
    position: absolute;
    width: 30%;
    padding: 1rem;
    right: 0;
    top: 4rem;
    margin: 0.4rem;
    border-radius: 0.5rem;
    color: #fff;
    font-weight: bold;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.mostrar {
    opacity: 1;
    transform: translateY(0);
}