main {
    padding: 1vw;
}

main .titulo {
    width: 30%;
    font-size: 3vw;
}

main .titulo span {
    color: #d3b50a;
}

main .desc {
    font-weight: 600;
    width: 70%;
    font-size: 1.5vw;
    margin-top: 1vw;
}
