header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d1d1d;
    width: 100%;
    min-height: 100px;
}

header .logo .imgLogo {
    width: 280px;
    height: 150px;
}

header .logo .imgLogo {
    margin: 0 5vw 0 5vw;
}

header nav {
    padding: 1.2rem;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 1.3rem;
}

header nav ul li .inicioBtn {
    font-size: 1.5rem;
    font-weight: 600;
    color: #f1f1f1;
}

header nav ul li button {
    display: block;
    padding: 10px 15px;
    background: transparent;
    border: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

header nav ul li button {
    display: block;
    padding: 10px 15px;
    transition: 0.3s ease-in-out;
}

header nav ul .listaBtn button {
    color: #f1f1f1;
}

header nav ul li button .inicio:hover,
header nav ul li button .listaBtn:hover {
    transform: translateY(-5px);
    cursor: pointer;
}


header nav ul li button:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

header nav ul .loginBtn,
header nav ul .cadastroBtn {
    background-color: rgb(211, 181, 10);
    border-radius: 0.8vw;
}

header nav ul .loginBtn:hover,
header nav ul .cadastroBtn:hover {
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
}

header nav ul .loginBtn button:hover,
header nav ul .cadastroBtn button:hover {
    transform: translateY(0);
}

header nav ul li .btnCor:hover {
    color: #464343;
}